main{
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin-left: 5vw;
  min-height: 70vh;
}
.productenumeration{
  ul{
    list-style-type: circle;
  }
}
.core{
width: fit-content;
}
/*Liste d'événements*/
.list_events{
  margin: 1em;;
  list-style: none ! important;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.card_event{
  padding: 0.5em;
  background-color: var(--batho-jaune);
  border-radius: 5%;
  color:white;
}
/*Fin liste d'événements*/
/*Activity*/
.activity-types>.card-type,#btnPartager{
  background-color: var(--batho-jaune);
  color: white;
  padding: var(--content-padding);
}
#btnPartager>img{
  height: 2em;
}
#btnPartager{
  display: inline;
  margin-left: var(--standartspace);
  border: none;
}
#btnPartager:hover{
  background-color: var(--batho-vert);
}
.activity-types{
    padding-bottom: var(--content-padding);
  }

.fullActivity{
  text-align: left;
}
.cardId{
  margin-bottom: 20px;
}
.fullActivity>h2{
  text-align: left;
  font-size: 3em;
}
.activity-description{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--standartspace);
}
.activity-texte{
  display: flex;
  flex-direction: column;
  row-gap: var(--standartspace);
}
.activity-texte>p{
 margin: 0;
 padding: 0;
 line-height: 1.5;
 font-size: 1.1em;
}
.activity-language{
  font-weight: bold;
}
.activity-language::before{
  content: "|";
}
.activity-language::after{
  content: "|";
}

.activity-illustration>img{
  margin-top:var(--standartspace);
  margin-bottom:var(--standartspace);
  max-width: 96vw;
  max-height: 340px;
}
.infospratik{
  color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--standartspace);
}
.infos-elements{
  display: flex;
  flex-direction: column;
  gap: var(--standartspace);
  /* background-color: var(--first-color); */
  padding: 20px;
  min-width: 40%;
  flex-grow: 1;
}


.infos-map-activity{
  color: black;
  border: solid 0.2px;
  min-width: 40%;
  flex-grow: 1;
  min-height: 350px;
}
/*Fin activity*/