.contacts-container {
  display: flex;
  justify-content: center;
  min-height: 50vh;
  height: 100%;

}

.contacts {
  color: var(--main-dark-color);
  line-height: 2.8em;
  padding: 0;
  margin: 0;

}

.contacts a {
  display: block;
  color: var(--main-dark-color);
  text-decoration: none;
  font-size: 1.6em;
}

.contacts a:hover {
  color: var(--batho-bleu);
  text-decoration-line: underline;
}

main {
  padding: 15px;
}

/*Liens dans la page contacts*/
.navfooterbloc a:hover {
  text-decoration: underline;
  color: var(--secondary-blue-color);
}

/*Particular communications link*/
.contacts-maillink::before {
  content: url('/public/img/deco/icons8-mail-30.png');
  position: relative;
  top: 10px;
  left: -10px;
}

.contacts-phonelink::before {
  content: url('/public/img/deco/icons8-phone-30.png');
  position: relative;
  top: 10px;
  left: -10px;
  bottom: 0;
}

.contacts-whatsapplink::before {
  content: url('/public/img/deco/icons8-whatsapp-30.png');
  position: relative;
  top: 10px;
  left: -10px;
}

.contacts-adress {
  font-size: 1.6em;
}

.contacts-adress::before {
  content: url('/public/img/deco/icons8-location-30.png');
  top: 10px;
  left: -10px;
}